<dt>%(question)s</dt>
<dd>
  <details>
    <summary>Answer:</summary>
    <p>
      %(answer)s
    </p>
  </details>
  <details>
    <summary>Readings:</summary>
    <p>
      %(readings)s
    </p>
  </details>
  <details>
    <summary>Exercises:</summary>
    <p>
      %(exercises)s
    </p>
  </details>
</dd>  
